.loading-container {
    filter: blur(3px); /* Apply the blur effect */
    pointer-events: none; /* Disable interaction with blurred content */
  }
  
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }